<body>

    <h1>  Welcome to our Register Page  !</h1>
    <form>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
       
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">
        <br />
        <label for="password">ConfirmPassword:</label><br>
        <input type="password" id="confirmpassword" name="confirmpassword">

        <input type="submit" id="submit" name="Submit">

    </form>


</body>
